html , body{
  padding: 0 !important;
  margin: 0 !important;
}
.rdp__overlay{
  background: transparent !important;
}
input{
  background: aliceblue;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;

}